others
generated_files
CMakeFiles
objects
target
Makefile
cmake_install.cmake
bin
main_autogen
desktop_app_autogen
CMakeCache.txt
CTestTestfile.cmake
Testing
build
.*
!.gitignore
/server/lib/include
/server/lib/lib
/server/lib/qhttpengine/build
/server/src/server
/server/src/server.exe
/server/src/Makefile
*.o
/server/src/tests/test
moc_*
/server/database/snippet_db.db
/server/build/*
/server/bin/*
env
CMakeLists.txt.user
build*
*.save
docs
