generated_files
CMakeFiles
objects
target
Makefile
cmake_install.cmake
bin
main_autogen
desktop_app_autogen
CMakeCache.txt
CTestTestfile.cmake
Testing
build
.*

# do not keep build output files
server/build/*
# except for one in order to keep the directory
!/server/build/.gitkeep

server/env
